.user {
    font-size: x-large;
    color: purple;
}

.email {
    font-style: oblique;

}


.btn-purple {
    margin: 5px;
    background-image: linear-gradient(to right,   rgb(183, 25, 170), rgb(49, 6, 11), rgb(183, 25, 170));
  }
  .btn-purple:hover {
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(49, 6, 11),  rgb(183, 25, 170), rgb(49, 6, 11));
  }

.reservation {
    color: purple;
    padding: 10px;
    margin: 10px;

}


.venue-name {
    color: purple;
    font-weight: bolder;
}

.reservation-date {
    color: purple;
}

