.App {
  text-align: center;
}

.nav-backgr {
 
  background-image: linear-gradient(to right,   rgb(183, 25, 170), rgb(49, 6, 11), rgb(183, 25, 170));
}

.nav-link:hover {
  font-weight: bolder;
  font-size: large;
}