.App {
  text-align: center;
}

.nav-backgr {
 
  background-image: linear-gradient(to right,   rgb(183, 25, 170), rgb(49, 6, 11), rgb(183, 25, 170));
}

.nav-link:hover {
  font-weight: bolder;
  font-size: large;
}

.carousel-caption {
  background-color: rgba(18, 16, 16, 0.3);
}

.btn-purple {
  background-image: linear-gradient( rgb(13, 6, 49), rgb(183, 25, 170), rgb(49, 6, 11));
}

.btn-purple:hover {
  font-weight: bolder;
  background-image: linear-gradient( rgb(183, 25, 170), rgb(49, 6, 11), rgb(183, 25, 170));
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(54, 10, 45);
}